@*@model Juridico.Models.Correspondencia*@
@model Juridico.ViewModels.CorrespondenciaViewModel
@using Juridico.Helpers;

@{
    ViewData["Title"] = "Marginar Correspondencia";
    ViewData["CardTitle"] = "Marginar Correspondencia";
}

<partial name="_AlertsPartial" />


<!-- Card de detalle del correspondencia -->
<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <!-- Card principal Caso-->
        <div class="card card-secondary card-tabs">
            <div class="card-header p-0 pt-1">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                            <li class="pt-2 px-3"><h3 class="card-title">@Model.Codigo</h3></li>
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-two-home-tab" data-toggle="pill" href="#custom-tabs-two-detalles" role="tab" aria-controls="custom-tabs-two-home" aria-selected="true">Detalle Correspondencia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-two-profile-tab" data-toggle="pill" href="#custom-tabs-two-estados" role="tab" aria-controls="custom-tabs-two-profile" aria-selected="false">Estados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-two-messages-tab" data-toggle="pill" href="#custom-tabs-two-archivos" role="tab" aria-controls="custom-tabs-two-messages" aria-selected="false">Archivos</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="card-tools float-right">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.boton de imprimir boleta de pcdoc -->

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-two-tabContent">
                    <!-- Tab Detalles -->
                    <div class="tab-pane fade show active" id="custom-tabs-two-detalles" role="tabpanel" aria-labelledby="custom-tabs-two-home-tab">
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Datos Correspondencia</h5>
                                <hr />
                            </div>
                            <div class="col-md-2">
                            </div>
                            <!-- /. datos del detalle -->
                            <dl class="col-md-6">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Codigo)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Codigo)
                                </dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Referencia)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Referencia)
                                </dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.FechaIngreso)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.FechaIngreso)
                                </dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.FechaDocumento)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.FechaDocumento)
                                </dd>
                            </dl>



                            <dl class="col-md-12">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Objeto)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Objeto)
                                </dd>
                            </dl>
                            <dl class="col-md-12">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.EstadoActual)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.EstadoActual.Nombre)
                                </dd>
                            </dl>
                            <dl class="col-md-12">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Remitente)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Remitente.NombreRemitente)
                                </dd>
                            </dl>
                            <dl class="col-md-12">
                                <dt class="col-md-6">
                                    Presentado Por
                                </dt>
                                <dd class="col-sm-6">

                                </dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt class="col-md-6">
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.PersonaPresento.Nombres)
                                </dd>
                            </dl>
                            <dl class="col-md-6">
                                <dt class="col-md-6">
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.PersonaPresento.Apellidos)
                                </dd>
                            </dl>


                            <dl class="col-md-12">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Regional)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Regional.Nombre)
                                </dd>
                            </dl>

                            @*<dt class="col-sm-2">
                                  @Html.DisplayNameFor(model => model.IngresadoPorId)
                              </dt>
                              <dd class="col-sm-10">
                                  @Html.DisplayFor(model => model.IngresadoPorId)
                              </dd>*@

                        </div>  <!-- /. row -->
                    </div>

                    <!-- Tab Historico Estados -->
                    <div class="tab-pane fade" id="custom-tabs-two-estados" role="tabpanel" aria-labelledby="custom-tabs-two-profile-tab">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Acción realizada</th>
                                    <th>Acción realizada por</th>
                                    <th>Estado resultado</th>
                                    <th>Fecha inicio</th>
                                    <th>Fecha vencimiento</th>
                                    <th>Fecha finalización</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var historicoEstado in Model.HistoricoEstados)
                                {
                                    <tr data-widget="expandable-table" aria-expanded="true">
                                        <td>@historicoEstado.Accion.Nombre</td>
                                        <td>@historicoEstado.NombreUsuarioCreador</td>
                                        <td>@historicoEstado.Estado.Nombre</td>
                                        <td>@historicoEstado.FechaInicio.ToString("dd/MM/yyyy hh:mm tt")</td>
                                        @if (historicoEstado.FechaVencimiento.HasValue)
                                        {
                                            <td>@historicoEstado.FechaVencimiento.Value.ToString("dd/MM/yyyy")</td>
                                        }
                                        else
                                        {
                                            <td>----------</td>
                                        }
                                        @if (historicoEstado.FechaFin.HasValue)
                                        {
                                            <td>@historicoEstado.FechaFin.Value.ToString("dd/MM/yyyy hh:mm tt")</td>
                                        }
                                        else
                                        {
                                            <td>----------</td>
                                        }
                                    </tr>
                                    <tr class="expandable-body">
                                        <td colspan="6">
                                            <p>
                                                @historicoEstado.ComentarioAccion
                                            </p>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div> <!-- /.tab content -->
            </div> <!-- /.card -->
        </div>  <!-- secondary card-->
    </div>
</div>


<!-- Card marginar -->
<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Marginaciones</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    @*<label asp-for="AnexoId" class="control-label d-block"></label>*@
                    @*<label class="control-label">Seleccione los destinatarios</label>*@
                    <label asp-for="DestinatarioId" class="control-label">Seleccione los destinatarios</label>
                    <select id="destinatarios" style="width:100%;" asp-for="DestinatarioId" class="form-control select2" multiple="multiple" asp-items="ViewBag.Usuarios">
                        <option>Selecione una opción</option>
                    </select>
                    <span asp-validation-for="DestinatarioId" class="text-danger"></span>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="FechaVencimiento" class="control-label">Fecha de Vencimiento:</label>
                        <input asp-for="FechaVencimiento" class="form-control" />
                        <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-horizontal">

                        @foreach (var item in Model.Requerimientos)
                        {
                            <label>
                                <input type="checkbox" name="Requerimientos" value="@item.Id" class="filled-in" />  @item.NombreAccion
                            </label>
                        }
                    </div>

                </div>
                <div class="form-group">
                    <label asp-for="Comentarios" class="control-label">Comentarios:</label>
                    <textarea asp-for="Comentarios" class="form-control"></textarea>
                    <span asp-validation-for="Comentarios" class="text-danger"></span>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-4 mt-3">
                        <button type="button" class="btn btn-primary btn-block">
                            <i class="fa fa-plus-circle"></i> Agregar Marginaciones
                        </button>
                    </div>
                </div>

            </div> <!-- Card body -->
        </div>
    </div>
</div> <!-- Card row marginar -->

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <!-- Select2 -->
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <!-- JasnyBootstrap -->
    <script src="~/lib/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>


    <script type="text/javascript">
        $(function (){
            //Initialize Select2 Elements
            $('.select2').select2();
            $('.select2-ajax').select2();

        })
    </script>
}
